<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="common/head.html"/>
    <title>微信商户管理</title>
    <style>
        .test{}
    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-form-pane layui-card-header layuiadmin-card-header-auto">
            <div class="layui-inline">
                <label class="layui-form-label" for="appName">商户名称</label>
                <div class="layui-input-block">
                    <input type="text" name="appName" id="appName" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="serviceMchId">服务商号</label>
                <div class="layui-input-block">
                    <input type="text" name="serviceMchId" id="serviceMchId" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline" style="margin-left: 10px;line-height: 30px">
                <button class="layui-btn" id="search_btn">查询</button>
                <button class="layui-btn" id="add_btn">添加</button>
            </div>
        </div>

        <div class="layui-card-body">
            <table id="table" lay-filter="table"></table>

            <script type="text/html" id="buttonTpl">
                <span>{{d.project.name}}</span>
            </script>

            <script type="text/html" id="table-edit">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
                        class="layui-icon layui-icon-edit"></i>编辑</a>
                {{#  if(d.username == 'admin'){ }}
                <a class="layui-btn layui-btn-disabled layui-btn-xs"><i class="layui-icon layui-icon-delete"></i>删除</a>
                {{#  } else { }}
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                        class="layui-icon layui-icon-delete"></i>删除</a>
                {{#  } }}
                <button class="layui-btn layui-btn-normal layui-btn-xs test" lay-data="{url: 'weixinMerchant/p12/{{d.id}}'}">上传证书</button>
            </script>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var ctxPath = /*[[@{/}]]*/ '';
    layui.use(['form', 'table', 'layer','upload'], function () {
        var $ = layui.$;
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;
        var upload = layui.upload;

        table.render({
            elem: '#table'
            , height: 500
            , url: ctxPath + 'pay/weixinMerchant' //数据接口
            , page: true //开启分页
            , cols: [
                [ //表头
                    {title: '商户名称', field: 'appName', width: 150}
                    , {title: '公众号', field: 'appId', width: 150}
                    , {title: '商户号', field: 'mchId', width: 150}
                    , {title: '服务商', field: 'serviceMchId', width: 150}
                    , {title: 'p12证书', field: 'certPath', width: 200}
                    , {title: '项目名称', field: 'project', width: 100, toolbar: "#buttonTpl"}
                    , {title: '创建时间', field: 'create', width: 200}
                    , {title: '更新时间', field: 'update', width: 200}
                    , {title: "操作", align: "left", fixed: "right", toolbar: "#table-edit"}
                ]
            ],
            done:function () {
                upload.render({
                    elem: '.test'
                    , accept:'file'
                    , done: function (res, index, upload) {
                        if(res.success){
                            layer.msg(res.msg);
                            table.reload('table');
                        }else{
                            layer.msg(JSON.stringify(res));
                        }
                    }
                });
            }
        });

        //监听工具条
        table.on('tool(table)', function (obj) {
            var data = obj.data; //获得当前行数据

            if (obj.event === 'edit') {
                layer.open({
                    type: 2,
                    title: "编辑商户",
                    content: [ctxPath + "pay/weixinMerchant_info/" + data.id, 'no'],
                    area: ["420px", "520px"],
                    btn: ["确定", "取消"],
                    yes: function (index, layero) {
                        var submit = layero.find('iframe').contents().find("#submit");
                        submit.trigger('click');
                    }, end: function () {
                        table.reload('table');
                    }
                })
            }

            if (obj.event === 'del') { //删除
                layer.confirm('确定要删除选中行吗', function(index){
                    $.ajax({
                        type: 'DELETE',
                        url: ctxPath + "pay/weixinMerchant/" + data.id,
                        dataType:"json",
                        success: function (ret) {
                            if(ret.success){
                                layer.msg(ret.msg);
                                table.reload('table');
                            }else{
                                layer.msg("操作失败")
                            }
                        }
                    });
                    layer.close(index);
                });
            }
        });


        $("#add_btn").on('click', function () {
            layer.open({
                type: 2,
                title: "添加商户",
                content: [ctxPath + "pay/weixinMerchant_info", 'no'],
                area: ["420px", "520px"],
                btn: ["确定", "取消"],
                yes: function (index, layero) {
                    var submit = layero.find('iframe').contents().find("#submit");
                    submit.trigger('click');
                }, end: function () {
                    table.reload('table');
                }
            })
        })

        $("#search_btn").on('click', function () {
            table.reload('table', {
                where: {
                    appName: $('#appName').val()
                }
            });
        })
    });
</script>
</body>
</html>