<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="common/head.html"/>
    <title>商户管理</title>
</head>
<body>
<div class="layui-form" lay-filter="layuiadmin-form-admin" id="layuiadmin-form-admin" style="padding: 20px 30px 0 0;">
    <input type="hidden" name="id" th:value="${ weixinMerchant.id}">
    <div class="layui-form-item">
        <label class="layui-form-label">项目</label>
        <div class="layui-input-inline">
            <select name="project" lay-verify="required" th:value="${ weixinMerchant.project == null ? '':weixinMerchant.project.id}">
                <option th:each="pro:${projects}" th:value="${pro.id}" th:text="${pro.name}"></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商户名称</label>
        <div class="layui-input-inline">
            <input type="text" name="appName" th:value="${ weixinMerchant.appName}" lay-verify="required"
                   placeholder="请输入商户名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">公众号</label>
        <div class="layui-input-inline">
            <input type="text" name="appId" th:value="${ weixinMerchant.appId}" lay-verify="required"
                   placeholder="请输入公众号appId" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商户号</label>
        <div class="layui-input-inline">
            <input type="text" name="mchId" th:value="${ weixinMerchant.mchId}" lay-verify="required"
                   placeholder="请输入商户号mchId" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">签名密钥</label>
        <div class="layui-input-inline">
            <input type="text" name="appKey" th:value="${ weixinMerchant.appKey}" lay-verify="required" placeholder="请输入支付签名密钥appKey"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">服务商号</label>
        <div class="layui-input-inline">
            <input type="text" name="serviceMchId" th:value="${ weixinMerchant.serviceMchId}" lay-verify="required" placeholder="请输入服务商商户号mchId"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="submit" id="submit" value="确认">
    </div>
</div>
<script th:inline="javascript">
    var ctxPath = /*[[@{/}]]*/ '';
    layui.use(['form', 'layer'], function () {
        var $ = layui.$, form = layui.form, layer = layui.layer;
        form.on('submit(submit)', function(data){
            var json = data.field;
            var type = json['id'] === '' ? 'POST':'PUT';
            json['project'] = {"id":json['project']};
            $.ajax({
                type: type,
                url: ctxPath + "pay/weixinMerchant",
                data: JSON.stringify(json),
                contentType: 'application/json',
                success: function (ret) {
                    if(ret.success){
                        parent.layer.closeAll();
                    }else{
                        layer.msg(ret.msg, {icon: 6});
                    }
                }
            });

        });
    });
</script>
</body>
</html>