<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{../layuiadmin/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../layuiadmin/style/admin.css}"/>
    <script th:src="@{../layuiadmin/layui/layui.js}"></script>
    <title>商户管理</title>
</head>
<body>
<div class="layui-form" lay-filter="layuiadmin-form-admin" id="layuiadmin-form-admin" style="padding: 20px 30px 0 0;">
    <input type="hidden" name="id" th:value="${ weixinMerchant.id}">
    <div class="layui-form-item">
        <label class="layui-form-label">应用appId</label>
        <div class="layui-input-inline">
            <input type="text" name="appId" th:value="${ weixinMerchant.appId}" lay-verify="required"
                   placeholder="请输入应用appId" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商户mchId</label>
        <div class="layui-input-inline">
            <input type="text" name="mchId" th:value="${ weixinMerchant.mchId}" lay-verify="required"
                   placeholder="请输入商户mchId" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">app密钥</label>
        <div class="layui-input-inline">
            <input type="text" name="appSecret" th:value="${ weixinMerchant.appSecret}" lay-verify="required" placeholder="请输入密钥appSecret"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">api密钥</label>
        <div class="layui-input-inline">
            <input type="text" name="apiSecret" th:value="${ weixinMerchant.apiSecret}" lay-verify="required" placeholder="请输入密钥apiSecret"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="submit" id="submit" value="确认">
    </div>
</div>
<script th:inline="javascript">
    var ctxPath = /*[[@{/}]]*/ '';
    layui.use(['form', 'layer'], function () {
        var $ = layui.$, form = layui.form, layer = layui.layer;
        form.on('submit(submit)', function(data){
            var json = data.field;
            var type = json['id'] === '' ? 'POST':'PUT';
            $.ajax({
                type: type,
                url: ctxPath + "weixinMerchant",
                data: JSON.stringify(json),
                contentType: 'application/json',
                success: function (ret) {
                    if(ret.success){
                        parent.layer.closeAll();
                    }else{
                        layer.msg(ret.msg, {icon: 6});
                    }
                }
            });

        });
    });
</script>
</body>
</html>