<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="common/head.html"/>
    <title>系统配置</title>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-form-pane layui-card-header layuiadmin-card-header-auto">
            <div class="layui-inline">
                <label class="layui-form-label" for="key">标识</label>
                <div class="layui-input-block">
                    <input type="text" name="key" id="key" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline" style="margin-left: 10px;line-height: 30px">
                <button class="layui-btn" id="search_btn">查询</button>
                <button class="layui-btn" id="add_btn">添加</button>
            </div>

        </div>

        <div class="layui-card-body">
            <table id="table" lay-filter="table"></table>

            <script type="text/html" id="buttonTpl">
                <button class="layui-btn layui-btn-primary layui-btn-xs">{{d.stateEnum}}</button>
            </script>

            <script type="text/html" id="table-edit">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
                        class="layui-icon layui-icon-edit"></i>编辑</a>
                {{#  if(d.username == 'admin'){ }}
                <a class="layui-btn layui-btn-disabled layui-btn-xs"><i class="layui-icon layui-icon-delete"></i>删除</a>
                {{#  } else { }}
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
                {{#  } }}
            </script>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var ctxPath = /*[[@{/}]]*/ '';
    layui.use(['form', 'table','layer'], function () {
        var $ = layui.$, form = layui.form, table = layui.table,layer = layui.layer;

        table.render({
            elem: '#table'
            , height: 500
            , url: ctxPath + 'dictionary' //数据接口
            , page: true //开启分页
            , cols: [
                [ //表头
                    {field: 'key', title: '标识', width: 150}
                    , {field: 'value', title: '内容', width: 350}
                    , {field: 'describe', title: '描述', width: 250}
                    , {field: 'create', title: '创建时间', width: 250}
                    , {field: 'update', title: '修改时间', width: 250}
                    , {title: "操作", align: "left", fixed: "right", toolbar: "#table-edit"}
                ]
            ]
        });
        //监听工具条
        table.on('tool(table)', function(obj){
            var data = obj.data; //获得当前行数据

            if(obj.event === 'edit'){
                layer.open({
                    type: 2,
                    title: "编辑参数",
                    content: [ctxPath + "dictionary_info/"+data.id, 'no'],
                    area: ["420px", "420px"],
                    btn: ["确定", "取消"],
                    yes: function (index, layero) {
                        var submit = layero.find('iframe').contents().find("#submit");
                        submit.trigger('click');
                    },end:function () {
                        table.reload('table');
                    }
                })
            }

            if(obj.event === 'del'){ //删除
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                });
            }
        });


        $("#add_btn").on('click',function () {
            layer.open({
                type: 2,
                title: "添加参数",
                content: [ctxPath + "dictionary_info", 'no'],
                area: ["420px", "420px"],
                btn: ["确定", "取消"],
                yes: function (index, layero) {
                    var submit = layero.find('iframe').contents().find("#submit");
                    submit.trigger('click');
                },end:function () {
                    table.reload('table');
                }
            })
        })

        $("#search_btn").on('click',function () {
            table.reload('table', {
                where:{
                    key:$('#key').val()
                }
            });
        })
    });
</script>
</body>
</html>