<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="common/head.html"/>
    <title>用户管理</title>
</head>
<body>
<div class="layui-form" lay-filter="layuiadmin-form-admin" id="layuiadmin-form-admin" style="padding: 20px 30px 0 0;">
    <input type="hidden" name="id" th:value="${ systemRole.id}">
    <div class="layui-form-item">
        <label class="layui-form-label">角色名称</label>
        <div class="layui-input-inline">
            <input type="text" name="roleName" th:value="${ systemRole.roleName}" lay-verify="required"
                   placeholder="请输入昵称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">角色描述</label>
        <div class="layui-input-inline">
            <textarea type="text" name="roleDescribe" th:text="${ systemRole.roleDescribe}" lay-verify="required"
                   placeholder="请输入昵称" autocomplete="off" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="submit" id="submit" value="确认">
    </div>
</div>
<script th:inline="javascript">
    var ctxPath = /*[[@{/}]]*/ '';
    layui.use(['form', 'layer'], function () {
        var $ = layui.$, form = layui.form, layer = layui.layer;
        form.on('submit(submit)', function(data){
            var json = data.field;
            var type = json['id'] === '' ? 'POST':'PUT';
            $.ajax({
                type: type,
                url: ctxPath + "systemRole",
                data: JSON.stringify(json),
                contentType: 'application/json',
                success: function (ret) {
                    if(ret.success){
                        parent.layer.closeAll();
                    }else{
                        layer.msg(ret.msg, {icon: 6});
                    }
                }
            });

        });
    });
</script>
</body>
</html>