<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{/favicon.ico}" />
    <link rel="stylesheet" type="text/css" th:href="@{resources/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{resources/css/login.css}"/>
    <script th:src="@{resources/layui/layui.js}"></script>
    <title>登录</title>

</head>
<body>
<div class="kit-login">
    <div class="kit-login-bg"></div>
    <div class="kit-login-wapper">
        <h2 class="kit-login-slogan">欢迎使用 <br>支付管理平台</h2>
        <div class="kit-login-form">
            <h4 class="kit-login-title">登录</h4>
            <form class="layui-form" th:action="@{/login}" th:method="POST">
                <div class="kit-login-row">
                    <div class="kit-login-col">
                        <i class="layui-icon">&#xe612;</i>
                        <span class="kit-login-input">
                            <input type="text" name="username" lay-verify="required" placeholder="用户名" autocomplete="off"/>
                        </span>
                    </div>
                    <div class="kit-login-col"></div>
                </div>
                <div class="kit-login-row">
                    <div class="kit-login-col">
                        <i class="layui-icon">&#xe64c;</i>
                        <span class="kit-login-input">
                            <input type="password" name="password" lay-verify="required" placeholder="密码" autocomplete="off"/>
                        </span>
                    </div>
                    <div class="kit-login-col"></div>
                </div>
                <div class="kit-login-row">
                    <span th:if="${param.error}" style="color: red" th:text="用户名或密码错误"></span>
                </div>
                <div class="kit-login-row">
                    <button class="layui-btn kit-login-btn" type="submit">登录</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>