<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="common/head.html"/>
    <title></title>
    <script>
        layui.use(['jquery'], function () {
            var $ = layui.$;
            $("#title").click(function () {
               var has = $("#detail").hasClass('layui-hide');
               if(has){
                   $("#detail").removeClass('layui-hide');
               }else{
                   $("#detail").addClass('layui-hide');
               }
            })
        });
    </script>
</head>
<body>
<div class="layui-fluid" >
    <span  id="title">系统正在维护,请您稍候访问..</span>
    <div id="detail" class="layui-card layui-hide">
        <div class="layui-card-header" th:text="${message}"></div>
        <div class="layui-card-body" th:text="${trace}"></div>
    </div>
</div>
</body>
</html>